<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weds.xf.mapper.XfJlMapper">
  <resultMap id="BaseResultMap" type="com.weds.xf.entity.XfJlEntity">
    <id column="xh" jdbcType="INTEGER" property="xh" />
    <result column="lx" jdbcType="INTEGER" property="lx" />
    <result column="jl_bh" jdbcType="VARCHAR" property="jlBh" />
    <result column="dev_serial" jdbcType="CHAR" property="devSerial" />
    <result column="user_serial" jdbcType="BIGINT" property="userSerial" />
    <result column="user_card" jdbcType="VARCHAR" property="userCard" />
    <result column="sam_serial" jdbcType="VARCHAR" property="samSerial" />
    <result column="old_money" jdbcType="DECIMAL" property="oldMoney" />
    <result column="new_money" jdbcType="DECIMAL" property="newMoney" />
    <result column="jl_sj" jdbcType="TIMESTAMP" property="jlSj" />
    <result column="jl_count" jdbcType="INTEGER" property="jlCount" />
    <result column="sub_xh" jdbcType="INTEGER" property="subXh" />
    <result column="sj" jdbcType="TIMESTAMP" property="sj" />
    <result column="gly_no" jdbcType="NVARCHAR" property="glyNo" />
    <result column="card_serial" jdbcType="CHAR" property="cardSerial" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="time_no" jdbcType="CHAR" property="timeNo" />
    <result column="time_order" jdbcType="CHAR" property="timeOrder" />
    <result column="del_type" jdbcType="INTEGER" property="delType" />
    <result column="sub_old" jdbcType="DECIMAL" property="subOld" />
    <result column="sub_new" jdbcType="DECIMAL" property="subNew" />
    <result column="each_old" jdbcType="INTEGER" property="eachOld" />
    <result column="each_new" jdbcType="INTEGER" property="eachNew" />
    <result column="each_unit" jdbcType="INTEGER" property="eachUnit" />
    <result column="more_money" jdbcType="DECIMAL" property="moreMoney" />
    <result column="discount_rate" jdbcType="INTEGER" property="discountRate" />
    <result column="mould" jdbcType="INTEGER" property="mould" />
    <result column="dep_serial" jdbcType="INTEGER" property="depSerial" />
    <result column="acdep_serial" jdbcType="BIGINT" property="acdepSerial" />
    <result column="cor_money" jdbcType="DECIMAL" property="corMoney" />
    <result column="cor_sub" jdbcType="DECIMAL" property="corSub" />
  </resultMap>
  <sql id="Base_Column_List">
    xh, lx, jl_bh, dev_serial, user_serial, user_card, sam_serial, old_money, new_money, 
    jl_sj, jl_count, sub_xh, sj, gly_no, card_serial, type, state, time_no, time_order, 
    del_type, sub_old, sub_new, each_old, each_new, each_unit, more_money, discount_rate, 
    mould, dep_serial, acdep_serial, cor_money, cor_sub
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xf_jl
    where xh = #{xh,jdbcType=INTEGER}
  </select>
  <select id="selectMaxByUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select top 1
    <include refid="Base_Column_List" />
    from xf_jl
    where user_serial = #{userSerial,jdbcType=INTEGER}
    order by jl_xh desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xf_jl
    where xh = #{xh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.weds.xf.entity.XfJlEntity">
    insert into xf_jl (xh, lx, jl_bh, 
      dev_serial, user_serial, user_card, 
      sam_serial, old_money, new_money, 
      jl_sj, jl_count, sub_xh, 
      sj, gly_no, card_serial, 
      type, state, time_no, time_order, 
      del_type, sub_old, sub_new, 
      each_old, each_new, each_unit, 
      more_money, discount_rate, mould, 
      dep_serial, acdep_serial, cor_money, 
      cor_sub)
    values (#{xh,jdbcType=INTEGER}, #{lx,jdbcType=INTEGER}, #{jlBh,jdbcType=VARCHAR}, 
      #{devSerial,jdbcType=CHAR}, #{userSerial,jdbcType=BIGINT}, #{userCard,jdbcType=VARCHAR}, 
      #{samSerial,jdbcType=VARCHAR}, #{oldMoney,jdbcType=DECIMAL}, #{newMoney,jdbcType=DECIMAL}, 
      #{jlSj,jdbcType=TIMESTAMP}, #{jlCount,jdbcType=INTEGER}, #{subXh,jdbcType=INTEGER}, 
      #{sj,jdbcType=TIMESTAMP}, #{glyNo,jdbcType=NVARCHAR}, #{cardSerial,jdbcType=CHAR}, 
      #{type,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{timeNo,jdbcType=CHAR}, #{timeOrder,jdbcType=CHAR}, 
      #{delType,jdbcType=INTEGER}, #{subOld,jdbcType=DECIMAL}, #{subNew,jdbcType=DECIMAL}, 
      #{eachOld,jdbcType=INTEGER}, #{eachNew,jdbcType=INTEGER}, #{eachUnit,jdbcType=INTEGER}, 
      #{moreMoney,jdbcType=DECIMAL}, #{discountRate,jdbcType=INTEGER}, #{mould,jdbcType=INTEGER}, 
      #{depSerial,jdbcType=INTEGER}, #{acdepSerial,jdbcType=BIGINT}, #{corMoney,jdbcType=DECIMAL}, 
      #{corSub,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.weds.xf.entity.XfJlEntity">
    insert into xf_jl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xh != null">
        xh,
      </if>
      <if test="lx != null">
        lx,
      </if>
      <if test="jlBh != null">
        jl_bh,
      </if>
      <if test="devSerial != null">
        dev_serial,
      </if>
      <if test="userSerial != null">
        user_serial,
      </if>
      <if test="userCard != null">
        user_card,
      </if>
      <if test="samSerial != null">
        sam_serial,
      </if>
      <if test="oldMoney != null">
        old_money,
      </if>
      <if test="newMoney != null">
        new_money,
      </if>
      <if test="jlSj != null">
        jl_sj,
      </if>
      <if test="jlCount != null">
        jl_count,
      </if>
      <if test="subXh != null">
        sub_xh,
      </if>
      <if test="sj != null">
        sj,
      </if>
      <if test="glyNo != null">
        gly_no,
      </if>
      <if test="cardSerial != null">
        card_serial,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="timeNo != null">
        time_no,
      </if>
      <if test="timeOrder != null">
        time_order,
      </if>
      <if test="delType != null">
        del_type,
      </if>
      <if test="subOld != null">
        sub_old,
      </if>
      <if test="subNew != null">
        sub_new,
      </if>
      <if test="eachOld != null">
        each_old,
      </if>
      <if test="eachNew != null">
        each_new,
      </if>
      <if test="eachUnit != null">
        each_unit,
      </if>
      <if test="moreMoney != null">
        more_money,
      </if>
      <if test="discountRate != null">
        discount_rate,
      </if>
      <if test="mould != null">
        mould,
      </if>
      <if test="depSerial != null">
        dep_serial,
      </if>
      <if test="acdepSerial != null">
        acdep_serial,
      </if>
      <if test="corMoney != null">
        cor_money,
      </if>
      <if test="corSub != null">
        cor_sub,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xh != null">
        #{xh,jdbcType=INTEGER},
      </if>
      <if test="lx != null">
        #{lx,jdbcType=INTEGER},
      </if>
      <if test="jlBh != null">
        #{jlBh,jdbcType=VARCHAR},
      </if>
      <if test="devSerial != null">
        #{devSerial,jdbcType=CHAR},
      </if>
      <if test="userSerial != null">
        #{userSerial,jdbcType=BIGINT},
      </if>
      <if test="userCard != null">
        #{userCard,jdbcType=VARCHAR},
      </if>
      <if test="samSerial != null">
        #{samSerial,jdbcType=VARCHAR},
      </if>
      <if test="oldMoney != null">
        #{oldMoney,jdbcType=DECIMAL},
      </if>
      <if test="newMoney != null">
        #{newMoney,jdbcType=DECIMAL},
      </if>
      <if test="jlSj != null">
        #{jlSj,jdbcType=TIMESTAMP},
      </if>
      <if test="jlCount != null">
        #{jlCount,jdbcType=INTEGER},
      </if>
      <if test="subXh != null">
        #{subXh,jdbcType=INTEGER},
      </if>
      <if test="sj != null">
        #{sj,jdbcType=TIMESTAMP},
      </if>
      <if test="glyNo != null">
        #{glyNo,jdbcType=NVARCHAR},
      </if>
      <if test="cardSerial != null">
        #{cardSerial,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="timeNo != null">
        #{timeNo,jdbcType=CHAR},
      </if>
      <if test="timeOrder != null">
        #{timeOrder,jdbcType=CHAR},
      </if>
      <if test="delType != null">
        #{delType,jdbcType=INTEGER},
      </if>
      <if test="subOld != null">
        #{subOld,jdbcType=DECIMAL},
      </if>
      <if test="subNew != null">
        #{subNew,jdbcType=DECIMAL},
      </if>
      <if test="eachOld != null">
        #{eachOld,jdbcType=INTEGER},
      </if>
      <if test="eachNew != null">
        #{eachNew,jdbcType=INTEGER},
      </if>
      <if test="eachUnit != null">
        #{eachUnit,jdbcType=INTEGER},
      </if>
      <if test="moreMoney != null">
        #{moreMoney,jdbcType=DECIMAL},
      </if>
      <if test="discountRate != null">
        #{discountRate,jdbcType=INTEGER},
      </if>
      <if test="mould != null">
        #{mould,jdbcType=INTEGER},
      </if>
      <if test="depSerial != null">
        #{depSerial,jdbcType=INTEGER},
      </if>
      <if test="acdepSerial != null">
        #{acdepSerial,jdbcType=BIGINT},
      </if>
      <if test="corMoney != null">
        #{corMoney,jdbcType=DECIMAL},
      </if>
      <if test="corSub != null">
        #{corSub,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weds.xf.entity.XfJlEntity">
    update xf_jl
    <set>
      <if test="lx != null">
        lx = #{lx,jdbcType=INTEGER},
      </if>
      <if test="jlBh != null">
        jl_bh = #{jlBh,jdbcType=VARCHAR},
      </if>
      <if test="devSerial != null">
        dev_serial = #{devSerial,jdbcType=CHAR},
      </if>
      <if test="userSerial != null">
        user_serial = #{userSerial,jdbcType=BIGINT},
      </if>
      <if test="userCard != null">
        user_card = #{userCard,jdbcType=VARCHAR},
      </if>
      <if test="samSerial != null">
        sam_serial = #{samSerial,jdbcType=VARCHAR},
      </if>
      <if test="oldMoney != null">
        old_money = #{oldMoney,jdbcType=DECIMAL},
      </if>
      <if test="newMoney != null">
        new_money = #{newMoney,jdbcType=DECIMAL},
      </if>
      <if test="jlSj != null">
        jl_sj = #{jlSj,jdbcType=TIMESTAMP},
      </if>
      <if test="jlCount != null">
        jl_count = #{jlCount,jdbcType=INTEGER},
      </if>
      <if test="subXh != null">
        sub_xh = #{subXh,jdbcType=INTEGER},
      </if>
      <if test="sj != null">
        sj = #{sj,jdbcType=TIMESTAMP},
      </if>
      <if test="glyNo != null">
        gly_no = #{glyNo,jdbcType=NVARCHAR},
      </if>
      <if test="cardSerial != null">
        card_serial = #{cardSerial,jdbcType=CHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="timeNo != null">
        time_no = #{timeNo,jdbcType=CHAR},
      </if>
      <if test="timeOrder != null">
        time_order = #{timeOrder,jdbcType=CHAR},
      </if>
      <if test="delType != null">
        del_type = #{delType,jdbcType=INTEGER},
      </if>
      <if test="subOld != null">
        sub_old = #{subOld,jdbcType=DECIMAL},
      </if>
      <if test="subNew != null">
        sub_new = #{subNew,jdbcType=DECIMAL},
      </if>
      <if test="eachOld != null">
        each_old = #{eachOld,jdbcType=INTEGER},
      </if>
      <if test="eachNew != null">
        each_new = #{eachNew,jdbcType=INTEGER},
      </if>
      <if test="eachUnit != null">
        each_unit = #{eachUnit,jdbcType=INTEGER},
      </if>
      <if test="moreMoney != null">
        more_money = #{moreMoney,jdbcType=DECIMAL},
      </if>
      <if test="discountRate != null">
        discount_rate = #{discountRate,jdbcType=INTEGER},
      </if>
      <if test="mould != null">
        mould = #{mould,jdbcType=INTEGER},
      </if>
      <if test="depSerial != null">
        dep_serial = #{depSerial,jdbcType=INTEGER},
      </if>
      <if test="acdepSerial != null">
        acdep_serial = #{acdepSerial,jdbcType=BIGINT},
      </if>
      <if test="corMoney != null">
        cor_money = #{corMoney,jdbcType=DECIMAL},
      </if>
      <if test="corSub != null">
        cor_sub = #{corSub,jdbcType=DECIMAL},
      </if>
    </set>
    where xh = #{xh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weds.xf.entity.XfJlEntity">
    update xf_jl
    set lx = #{lx,jdbcType=INTEGER},
      jl_bh = #{jlBh,jdbcType=VARCHAR},
      dev_serial = #{devSerial,jdbcType=CHAR},
      user_serial = #{userSerial,jdbcType=BIGINT},
      user_card = #{userCard,jdbcType=VARCHAR},
      sam_serial = #{samSerial,jdbcType=VARCHAR},
      old_money = #{oldMoney,jdbcType=DECIMAL},
      new_money = #{newMoney,jdbcType=DECIMAL},
      jl_sj = #{jlSj,jdbcType=TIMESTAMP},
      jl_count = #{jlCount,jdbcType=INTEGER},
      sub_xh = #{subXh,jdbcType=INTEGER},
      sj = #{sj,jdbcType=TIMESTAMP},
      gly_no = #{glyNo,jdbcType=NVARCHAR},
      card_serial = #{cardSerial,jdbcType=CHAR},
      type = #{type,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      time_no = #{timeNo,jdbcType=CHAR},
      time_order = #{timeOrder,jdbcType=CHAR},
      del_type = #{delType,jdbcType=INTEGER},
      sub_old = #{subOld,jdbcType=DECIMAL},
      sub_new = #{subNew,jdbcType=DECIMAL},
      each_old = #{eachOld,jdbcType=INTEGER},
      each_new = #{eachNew,jdbcType=INTEGER},
      each_unit = #{eachUnit,jdbcType=INTEGER},
      more_money = #{moreMoney,jdbcType=DECIMAL},
      discount_rate = #{discountRate,jdbcType=INTEGER},
      mould = #{mould,jdbcType=INTEGER},
      dep_serial = #{depSerial,jdbcType=INTEGER},
      acdep_serial = #{acdepSerial,jdbcType=BIGINT},
      cor_money = #{corMoney,jdbcType=DECIMAL},
      cor_sub = #{corSub,jdbcType=DECIMAL}
    where xh = #{xh,jdbcType=INTEGER}
  </update>
</mapper>